<!-- Include header -->
<!-- build:section header -->
<!-- /build -->
<!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="wrapper">
	<div class="reborn-hello">
	  <img src="images/reborn-white.jpg" alt="Reborn - template">
	  <h1>Hello!</h1>
	  <p>This is basic website template with:</p>
	  <ul>
	    <li>Sass support</li>
	    <li>Imagemin</li>
	    <li>JS testing</li>
	  </ul>
	</div>
<!-- Include footer -->
<!-- build:section footer -->
<!-- /build -->