/*
*  ============================
*
*    [Table of contents]
*
*    1. Styleguide styles
*    2. Docs
*
*  ============================
*/

//=============================
//  [1. Styleguide styles]
//=============================

//=============================
//  [2. Docs]
//=============================

/*doc
---
title: Title
name: background
category: Base CSS
---

##Header

```html_example
	<p>Here paste your code</p>
```

Description...

##Header

Header        | Modifier Class    
------------- | ----------------- 
HTML markup   | `class`							
					

*/