---
title: Reborn blank
layout: base.hbs
---
	<div class="reborn-hello">
	  <img src="images/reborn-white.jpg" alt="Reborn - template">
	  <h1>Hello!</h1>
	  <p>This is basic website template with:</p>
	  <ul>
	  	<li>Assemble templating</li>
	    <li>Sass support</li>
	    <li>Imagemin</li>
	    <li>JS testing</li>
	  </ul>
	</div>