---
title: Reborn blank
layout: base.hbs
---
	<div class="reborn-hello">
	  <img src="images/reborn-white.jpg" alt="Reborn - template">
	  <h1>Hello!</h1>
	  <p>This is basic website template with:</p>
    {{!-- APP FEATURES --}}
	</div>
