/*
*  ============================
*
*    [Table of contents]
*
*    1. Color palette
*    2. Primary palette
*
*  ============================
*/

/*
*  ============================
*
*    [Color palette]
*
*    --- Content backgrounds ---
*    Background: $white
*
*    --- Typography ---
*    Content text: $light-gray
*    Header (h1): $dark-gray
*    Links (all type): $dark-gray
*    List items: $dark-gray
*
*  ============================
*/

//=============================
//	[2. Primary palette]
//=============================

$white: #fff;
$light-gray: #a8a8a8;
$dark-gray: #353535;
